
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Pump Status</ion-card-subtitle>

    <ion-card-title>
    </ion-card-title>
  </ion-card-header>
  <app-info-button class="ion-no-padding"
        popoverContent="Status of the Pump, Hybrid, Silent, Diagnostic. Press the button to change">
  </app-info-button>
  <ion-card-content>
    <ion-item (click)="openModal()">
      <ng-container [ngSwitch]="pumpStatus" >
        <ion-label *ngSwitchCase="'hybrid'" class="ion-text-center">
          <ion-badge class="badge" color="success">Hybrid</ion-badge>
        </ion-label>
        <ion-label *ngSwitchCase="'silent'" class="ion-text-center">
           <ion-badge class="badge" color="danger">Silent</ion-badge>
          </ion-label>
          <ion-label *ngSwitchCase="'diagnostic'" class="ion-text-center">
            <ion-badge class="badge" color="warning">Diagnostic</ion-badge>
         </ion-label>
      </ng-container>
    </ion-item>

  </ion-card-content>
</ion-card>
