<ion-card>
  <ion-item-divider color="primary">
    <ion-label>Writing Data Status</ion-label>
    <app-info-button class="ion-no-padding"
      popoverContent="Start or stop recording data">
    </app-info-button>
  </ion-item-divider>
  <ion-card-content>
    <ion-item>
      <ion-button id="open-action-sheet" color="danger">Reset NVS</ion-button>
      <ion-action-sheet trigger="open-action-sheet" header="Are you sure you want to RESET the DEVICE?" [buttons]="actionSheetButtons">
      </ion-action-sheet>
    </ion-item>
  </ion-card-content>
</ion-card>
