<div>
  <hr>
  <ion-item>
    <ion-label>Page Data Reader</ion-label>
    <ion-button (click)="onReadPageData()">Refresh Page Data</ion-button>
  </ion-item>
  <ion-item *ngIf="currentPage !== null">
    <ion-label>Current Time Recorded: </ion-label>
    <ion-badge>{{ formatTime(currentPage) }}</ion-badge>
  </ion-item>
  <ion-item *ngIf="currentPage !== null">
    <ion-label>Total Pages: </ion-label>
    <ion-badge>{{ currentPage }}</ion-badge>
  </ion-item>
  <!-- <div>
    <ion-accordion-group>
      <ion-accordion *ngFor="let data of groupedData | keyvalue">
        <ion-item slot="header">
          <ion-label>
            {{data.key}}
          </ion-label>
        </ion-item>

        <div slot="content" *ngFor="let point of data.value">
          <app-data-point
            [timestamp]="point.timestamp.toString()"
            [sensorValue]="point.sensorValue"
          ></app-data-point>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div> -->

  <div *ngIf="first_page.length > 0">
    <h3>First Page Data:</h3>
    <table>
      <thead>
        <tr>
          <th>Page Number</th>
          <th>Data</th>
          <th>Motor</th>
          <th>Pump Mode</th>
          <th>Battery</th>
          <th>Low Threshold</th>
          <th>High Threshold</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let page of first_page">
          <td>{{ page.timestamp | date: "yyyy-MM-dd HH:mm:ss" }}</td>
          <td>{{ page.sensorValue | millivoltsToInches }}</td>
          <td>{{ page.isMotorRunning ? "Running" : "Stopped" }}</td>
          <td>{{ page.pumpMode }}</td>
          <td>{{ page.batteryReading }}</td>
          <td>{{ page.highThreshold | millivoltsToInches }}</td>
          <td>{{ page.lowThreshold | millivoltsToInches }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="last_page.length > 0">
    <h3>Last Page Data:</h3>
    <table>
      <thead>
        <tr>
          <th>Page Number</th>
          <th>Data</th>
          <th>Motor</th>
          <th>Pump Mode</th>
          <th>Battery</th>
          <th>Low Threshold</th>
          <th>High Threshold</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let page of last_page">
          <td>{{ page.timestamp | date: "yyyy-MM-dd HH:mm:ss" }}</td>
          <td>{{ page.sensorValue | millivoltsToInches }}</td>
          <td>{{ page.isMotorRunning ? "Running" : "Stopped" }}</td>
          <td>{{ page.pumpMode }}</td>
          <td>{{ page.batteryReading }}</td>
          <td>{{ page.highThreshold | millivoltsToInches }}</td>
          <td>{{ page.lowThreshold | millivoltsToInches }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
