<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{id()}}</ion-card-subtitle>
    <ion-card-title>Hybrid Pump
      <span>
        <ion-badge [color]="connection() ? 'success' : 'danger'" slot="end">
          {{ connection() ? 'Connected' : 'Not Connected' }}
        </ion-badge>
      </span>

    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-label>Thresholds</ion-label>
      <ion-item>
        <ion-label class="">Lower:</ion-label><ion-badge class="" color="primary" mode="ios">{{lower}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label class="">Upper: </ion-label><ion-badge class="" color="primary" mode="ios">{{upper}}</ion-badge>
      </ion-item>
      <ion-label>Current Reading</ion-label>
      <ion-item>
        <ion-label>Vacuum</ion-label>
        <ion-badge color="primary" mode="ios">{{currentPressure()}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Use</ion-label>
        <ion-badge color="primary" mode="ios">{{currentMotorRuntime | millisecondsToTime }}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
