<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Data</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Data</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center" *ngIf="!isDownloading">
    <ion-button (click)="download()">Download Data</ion-button>
  </div>
  <ion-card *ngIf="isDownloading">
    <ion-card-content>
    <ion-label>Downloading...</ion-label>
    <div *ngIf="bluetoothService.progress() < 1">
      <ion-progress-bar
      [value]="bluetoothService.progress()"
      class="custom-progress-bar"
      ></ion-progress-bar>
    </div>
    </ion-card-content>
  </ion-card>

  <div>
    <app-page-data-reader></app-page-data-reader>
  </div>

  <!-- print data for count -->
  <!-- <ion-accordion-group>
    <ion-accordion *ngFor="let data of groupedData | keyvalue">
      <ion-item slot="header">
        <ion-label>
          {{data.key}}
        </ion-label>
      </ion-item>

      <div slot="content" *ngFor="let point of data.value">
        <app-data-point
          [timestamp]="point.date"
          [sensorValue]="point.value"
        ></app-data-point>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content> -->
