<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin Page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Admin Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!bluetoothConnectionService.connectionStatus()">
    <ion-card>
      <ion-card-content>
        <ion-label>Not Connected to Device</ion-label>
      </ion-card-content>
    </ion-card>
  </div>

<div *ngIf="bluetoothConnectionService.connectionStatus()">
  <div>
    <app-pump-type-control pumpType="admin"></app-pump-type-control>
  </div>

    <div>
      <app-pump-threshold userType="admin"></app-pump-threshold>
  </div>

  <div>
    <app-limit-timer></app-limit-timer>
  </div>

  <div>
    <app-bluetooth-time></app-bluetooth-time>
  </div>

  <div>
    <app-start-writing></app-start-writing>
  </div>

  <div>
    <app-storage-usage></app-storage-usage>
  </div>

  <div>
    <app-app-usage-tracker></app-app-usage-tracker>
  </div>
  <div>
      <app-reset-nvs></app-reset-nvs>
  </div>
</div>


</ion-content>
