<ion-card>
  <ion-item-divider color="primary">
    <ion-label>Storage Use</ion-label>
    <app-info-button class="ion-no-padding"
        popoverContent="Displays the amount of storage used by the app">
    </app-info-button>
  </ion-item-divider>
  <ion-card-content>
    <!-- Display storage usage and capacity -->
    <p>
      Used: {{ usage | fileSize}} / {{ capacity | fileSize }}
    </p>

    <!-- Progress bar to show usage percentage -->
    <ion-progress-bar [value]="usagePercentage / 100"></ion-progress-bar>

    <!-- Display usage percentage -->
    <p class="ion-text-center">
      {{ usagePercentage | number:'1.2-2' }}% Used
    </p>
  </ion-card-content>
</ion-card>
